/* Style */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 8px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #233c67;
    color: #dddddd;
    padding: 4px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #99afd7;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #ccdbee;
    padding: 8px;
    color: #000000;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #ccdbee;
    color: #000000;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 15%;}
    .col-s-2 {width: 70%;}
    .col-s-3 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 15%;}
    .col-2 {width: 70%;}
    .col-3 {width: 100%;}
}